.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.footer__text {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width: 768px) {

    .footer {
        margin: 0 auto;
    }
    
    .footer__text {
        font-size: 14px;
        line-height: 16px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {

    .footer {
        margin: 0 auto;
    }
    
    .footer__text {
        font-size: 14px;
        line-height: 14px;
        margin: 0 auto;
        max-width: 166px;
    }
}