.page {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #2A2C2F;
    padding: 34px 148px 24px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    min-width: 768px;
    max-width: 1280px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo__img {
    align-items: center;
    width: 254px;
    height: 70px;
    padding-bottom: 90px;
}

.lead {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.lead__title {
    text-align: center;
    font-family: 'Inter';
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    margin: 0 280px 0;
    padding-bottom: 32px;
}

.lead__description {
    text-align: center;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 171px 0;
    padding-bottom: 64px;
    width: 720px;
    
}

.lead__img {
    padding-bottom: 92px;
}

.intro {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-bottom: 92px;
}

.intro__title {
    font-family: 'Inter';
    font-size: 52px;
    font-weight: 900;
    line-height: 58px;
    margin: 0;
    padding-right: 302px;
    padding-bottom: 40px;
}

.intro__test-one {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin: 0;
    padding-right: 394px; 
    padding-bottom: 10px;
}

.intro__test-two {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    margin: 0;
    padding-right: 400px;
    padding-bottom: 32px;
}

.intro__test-three {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    margin: 0;
    padding-right: 410px; 
    padding-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.footer__text {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}